<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head th:include="index :: meta"></head>
    <body>
        <div class="container">
            <div th:include="index :: header"></div>
            <div th:replace="index :: alert"></div>
            <script src="js/basket.js"></script>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>name</td>
                        <td>price</td>
                        <td>amount</td>
                        <td>sum</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${basketItems.keySet()}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${#numbers.formatDecimal(item.price, 1, 2)}"></td>
                        <td th:text="${basketItems.get(item)}"></td>
                        <td th:text="${#numbers.formatDecimal(item.price * basketItems.get(item), 1, 2)}"></td>
                    </tr>
                </tbody>
            </table>

            <button type="button"
                    class="btn btn-primary center-block checkout-button"
                    style="margin-bottom: 10px"
            >checkout
            </button>

            <button type="button"
                    class="btn btn-danger center-block clear-button"
            >clear basket
            </button>
        </div>
    </body>
</html>